body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: rgba(33, 33, 33, 1);
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgba(162, 188, 246, 1);
}

section {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}